@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .sub-wrapper {
    display: inline-flex;
    flex-direction: column;
    vertical-align: baseline;
    margin: 0 2px;
  }
  .sub-original {
      border-bottom: 2px solid #f59e0b;
      line-height: 1.2;
  }
  .sub-annotation {
      font-size: 0.7em;
      color: #d97706;
      user-select: none;
      text-align: center;
  }

  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
  }
  .dark .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #475569;
  }
}
